body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, button, input {
  font-weight: 700;
  letter-spacing: 1.4px;
}


:root {
  --whiteColor: #FFFFFF;
  --blackColor: #000000;
  --blueColor: #2C74B3;
  --darkBlueColor:  #0056b3;
  --greyColor: #f2f2f2;
  --darkGreyColor: #ccc;
  --textColor: #333;
  --lightTextColor: #666;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: var(--blueColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--darkBlueColor);
}